# Web Framework & Server
fastapi
uvicorn[standard]
python-multipart
websockets
gunicorn

# AI & Computer Vision
# torch/torchvision are for Ultralytics
torch
torchvision

# tensorflow is for DeepFace
tensorflow

# Main AI application libraries
ultralytics
deepface
opencv-python-headless
tf-keras